body
{
    margin: 0;
    padding: 0;
}

h1
{
    background-color: red;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

div
{
    border: 1px solid aqua;
    margin: 10px;
    padding: 10px;
}

h3
{
    color: red;
}

.azul
{
    color: blue;
}

.negrito
{
    font-weight: bold
}

.italico
{
   font-style: italic; 
}

.sublinhado
{
    text-decoration: underline;
}